#app > * {
  padding: 1rem;
}

.hidden {
  display: none;
}

// GENERAL
body {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-image: url("../../images/pattern.jpg");
  background-position: bottom;
  background-attachment: fixed;
}
#app {
  position: relative;
}

input,
textarea,
button,
label {
  font-family: "Nunito Sans", sans-serif;
  display: block;
}

.appHeader {
  height: 80px;
  background-color: #0000004d;
  margin-bottom: 2rem;
  color: #fff;
}
.gameCardDisplayArea {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 500px;
}
.wrapper {
  margin-left: 400px;
}
.appAside {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: min(400px, 100%);
  position: fixed;
  left: 0;
  top: 0;
}

@media screen and (max-width: 800px) {
  .appAside {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: min(400px, 100%);
    position: static;
    left: unset;
    top: unset;
  }
  .wrapper {
    margin: unset;
  }
}
