#app > * {
  padding: 1rem;
}

.hidden {
  display: none;
}

// GENERAL
body {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-image: url("../../images/POSTER_movie_film_movies_posters_5120x2880.jpg");
}
#app {
  position: relative;
}

input,
textarea,
button,
label {
  font-family: "Nunito Sans", sans-serif;
  display: block;
}

.appHeader {
  height: 80px;
  background-image: linear-gradient(to right, white, rgb(228, 228, 228));
}
.gameCardDisplayArea {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 500px;
}

.appAside {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
