form {
  display: grid;
  gap: 0.5rem;
  width: min(300px, 100%);
  // border: 1px solid red;
  & > * {
    display: flex;
    align-items: center;
  }
  label {
    width: 130px;
  }
  button {
    width: 100px;
    padding: 0.5rem;
  }
}
