.gameCard {
  width: min(400px, 100%);
  height: 281px;
  border: 1px solid #808080;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.5rem;
  position: relative;
  font-size: 0.8rem;
  background-color: #fff;
  .cardInfo {
    overflow-y: scroll;
    padding: 0.5rem;
  }
  &:hover .cardBtn {
    visibility: visible;
  }
  .cardBtn {
    visibility: hidden;
    display: grid;
    position: absolute;
    top: 5px;
    right: 5px;
    place-content: center;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    &:hover {
      background-color: #ff7b7b;
      cursor: pointer;
    }
    p {
      width: fit-content;
      height: fit-content;
      color: #fff;
      font-weight: bold;
      font-size: 0.7rem;
      text-transform: uppercase;
    }
  }
  .cardEditButton {
    left: 5px;
    right: unset;
  }

  figure {
    width: 100%;
    // height: 300px;
    justify-self: center;
    padding: 0.5rem;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 3px 3px 0px 0px;
  }
}
.gameCard-selected {
  border: 2px solid red;
}
.cardInfo {
  line-height: 1.5;
}
.cardInfo > * {
  margin-bottom: 0.7rem;
}
.cardAdditionalInfo > * {
  margin-bottom: 0.5rem;
}
.cardGenreYear {
  font-size: 0.65rem;
}
.cardDescriptionBox {
  text-align: justify;
}
