@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

* {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}
main {
  padding-block: 1rem;
}

#generatedCards {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-left: 450px;
  font-size: 0.8rem;
  align-items: flex-start;
}
#card {
  width: 400px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

#card > form {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  border-right: 1px solid grey;
  height: 100%;
  align-content: flex-start;
  padding: 1rem;
}

label,
input {
  display: block;
  font-family: "Montserrat", sans-serif;
}

:is(input, textarea):focus-visible {
  outline: none;
}
.card_generated img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_generated figure {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

input,
textarea {
  width: 100%;
  height: 50px;
}
label {
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  justify-self: flex-start;
  width: 50%;
  height: 50px;
}

.templates input {
  width: 30px;
  height: 30px;
}
.templates > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.templates {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-top: 2rem;
}

.card_generated {
  border: 1px solid #dbdbdb;
  padding: 1rem;
  width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px #ececec;
}

.card_generated .card_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_generated .other_info {
  display: flex;
  justify-content: space-between;
}

.card_horizontal {
  width: 500px;
  min-height: unset;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card_horizontal figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.card_horizontal .card_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.card_horizontal .other_info {
  margin-top: auto;
}

.theme1 {
  background-color: #3a40a6;
  color: #ffd519;
}
.theme2 {
  background-color: #d4f7cc;
  color: #74047e;
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
}
