@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #585858;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
label,
input {
  display: block;
}
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.calc_box {
  width: min(400px, 100%);
  min-height: 400px;
  background-color: #fff;
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  border-radius: 10px;
}
.calc_box > * {
  border: 1px solid #d6d6d6;
  padding: 1rem;
  width: 100%;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
}

.buttons_box {
  grid-column: 1 / -1;
  gap: 1rem;
  align-items: center;
}

button {
  height: 30px;
  width: 60%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
button:hover {
  background-color: #d6d6d6;
}
input {
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-block: 5px;
  background-color: #ececec;
  padding-left: 5px;
  font-size: 1.2rem;
}
.operators {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 70px));
  justify-content: space-evenly;
  gap: 1rem;
}
.operators label {
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font-size: 1.2rem;
}
.operators label:hover {
  background-color: #d6d6d6;
}
.operators input:checked + label {
  background-color: #d6d6d6;
}
.operators input {
  display: none;
}
.output_display {
  min-height: 80px;
  font-size: 1rem;
  letter-spacing: normal;
  line-height: 1.5;
}
:is(.number1, .number2) label,
.output_section h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
