@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(https://wallpapercave.com/wp/wp5556216.jpg);
  background-repeat: no-repeat;
  background-position: cover;
}
main {
  width: 100%;
  height: 100%;
  padding: 5rem;
  overflow: hidden;
}
main > * {
  margin: 0 auto;
}
article {
  width: min(400px, 100%);
  height: 400px;
  /* box-shadow: 0px 0px 10px 5px #ac6c6c75; */
  border-radius: 10px;
  background-color: #000000ef;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

article::before {
  content: "";
  width: 100%;
  height: 100000px;
  background-color: rgba(0, 0, 0, 0.685);
  position: absolute;
  z-index: -2;
}

select {
  width: 90%;
  min-height: 30px;
  background-color: #000000;
  color: rgb(248, 246, 95);
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 10px;
}
form {
  width: 100%;
}

form button {
  width: 50%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background: rgb(255, 251, 35);
  font-weight: 600;
  color: #000;
}
form button:hover {
  background: rgb(141, 139, 19);
  color: #fff;
  font-weight: 600;
}
.articleTitle {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
:focus-visible {
  outline: none;
}

.table {
  background-color: #00000071;
}
th,
td {
  width: 150px;
  height: 30px;
  border: 2px solid black;
  background-color: aliceblue;
  text-align: center;
}
table {
  width: min(400px, 100%);
  margin: 0 auto;
}

.tableDiv {
  margin-top: 2rem;
}
