@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-image: url("../../images/pattern.jpg");
  background-position: bottom;
  background-attachment: fixed;
}

#app {
  position: relative;
  min-height: 100vh;
}

#app > * {
  padding: 1rem;
}

.hidden {
  display: none;
}

input,
textarea,
button,
label {
  font-family: "Nunito Sans", sans-serif;
  display: block;
  outline: none;
}

.appHeader {
  height: 80px;
  background-color: #fff;
  margin-bottom: 2rem;
  color: #000;
  padding: 1rem;
  border-radius: 10px;
}

.gameCardDisplayArea {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 500px;
  justify-content: center;
}

.wrapper {
  margin-left: 400px;
  z-index: 5;
  position: relative;
}

.appAside {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: min(400px, 100%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .appAside {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: min(400px, 100%);
    position: static;
    left: unset;
    top: unset;
  }
  .wrapper {
    margin: unset;
  }
}
.gameCard {
  width: min(400px, 100%);
  height: 281px;
  border: 1px solid #808080;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.5rem;
  position: relative;
  font-size: 0.8rem;
  background-color: #fff;
}
.gameCard .cardInfo {
  overflow-y: scroll;
  padding: 0.5rem;
}
.gameCard:hover .cardBtn {
  visibility: visible;
}
.gameCard .cardBtn {
  visibility: hidden;
  display: grid;
  position: absolute;
  top: 5px;
  right: 5px;
  place-content: center;
  background-color: rgb(175, 0, 175);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.gameCard .cardBtn:hover {
  background-color: #ff7b7b;
  cursor: pointer;
}
.gameCard .cardBtn p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.gameCard .cardEditButton {
  left: 5px;
  right: unset;
}
.gameCard figure {
  width: 100%;
  justify-self: center;
  padding: 0.5rem;
}
.gameCard img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 3px 3px 0px 0px;
}

.gameCard-selected {
  border: 2px solid red;
}

.cardInfo {
  line-height: 1.5;
}

.cardInfo > * {
  margin-bottom: 0.7rem;
}

.cardAdditionalInfo > * {
  margin-bottom: 0.5rem;
}

.cardGenreYear {
  font-size: 0.65rem;
}

.cardDescriptionBox {
  text-align: justify;
}

form {
  display: grid;
  gap: 0.5rem;
  width: min(500px, 100%);
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
form > * {
  display: flex;
  align-items: center;
}
form label {
  width: 130px;
}
form button {
  width: 100px;
  padding: 0.5rem;
}

.modal-bg {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5607843137);
  top: 0;
}

.modal-content-box {
  z-index: 10;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: min(700px, 100%);
}
.modal-content-box .editItemForm {
  flex: 1;
}
.modal-content-box .gameCard {
  flex: 1;
  grid-template-columns: 100%;
  overflow-y: scroll;
  height: 500px;
}
.modal-content-box .gameCard figure {
  width: 80%;
}
.modal-content-box .gameCard:hover .cardBtn {
  visibility: hidden;
}
.modal-content-box .gameCard .cardInfo {
  overflow-y: unset;
}
.modal-content-box .editItemForm {
  margin-top: 1rem;
}
.modal-content-box .editItemForm input,
.modal-content-box .editItemForm textarea {
  border: 1px solid black;
}
.modal-content-box .modalExitBtn {
  position: absolute;
  top: 10px;
  left: 32px;
  padding: 5px;
}

@media screen and (max-width: 699px) {
  .modal-content-box {
    flex-direction: column;
    top: 2rem;
    left: unset;
    transform: unset;
    height: 400px;
    display: block;
    overflow-y: scroll;
  }
  .modal-content-box .modalExitBtn {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .modal-content-box .editItemForm {
    flex: unset;
  }
  .modal-content-box .gameCard {
    flex: unset;
  }
  .modal-content-box .modalExitBtn {
    right: 10px;
    left: unset;
    align-self: flex-end;
  }
}/*# sourceMappingURL=main.css.map */